body{
  background-color: azure ;
}
h1 {
  color: gray;
  text-align-last: center;
  padding-top: 50px;
 }
 h2 {
  color: #40e0d0;
  padding-left: 50px;
}
h3 {
  color: #242929;
}
h4{
  text-align: center;
  font-style: italic;
  font-size: 2em;
  color: #1cadad ;
  margin-top: auto;
}
p {
  color: #242929;
}
nav { 
  width: 960px;
  margin: 0 auto;  
}
nav { 
  display: block;
  height: 30px;
   width: 100%;
  background: #808080;
  left: 0;
  z-index: -1;
  }

ul {
  margin: 0;
  padding: 6px;
  list-style: none;
  height: 30px;
  
 }
ul li a{
  float: left;
  
}

ul li a{
  color: #fff;
  text-style: sans-serif;
  display: block;
  heihgt: 30px;
  padding: 0 40px;
  text-transform: uppercase;
  text-decoration: none;
  line-heigh: 30px;
  
 }
ul li a:hover{
  background:	#40e0d0;
}

 form {
  padding-left: 900px;
  float: right;
  padding-top: 10px;
  }
  

 
.container {
display: grid;
grid-template-columns: 150px, auto 40%;
grid-template-columns: repeat(3, 300px);
justify-content: center;
gap: 15px;
text-align: center;
}
img {
height: 150px;
width: 250px;
}
.box {
  display: flex;

}

  
   




  